body {
  background-color: #000;
  /* transform: scale(1); */
}

.interact {
  text-align: center;
  font-family: Helvetica;
  color: #fff;
}

button {
  border: 3px solid #f00;
  transition-duration: .7s;
}

button:hover {
  transform: scale(2);
  transition-duration: .2s;
}

.times {
  width: 25%;
  margin: 0 auto;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
  border: 1px solid grey;
  border-radius: 15px 0 15px 15px;
}

li small {
  color: grey;
}

li span {
  color: yellow;
  position: absolute;
  margin: -1px;
  top: 0px;
  right: 0px;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 0 0 0 10px;
}
